__pycache__/__init__.cpython-38.pyc
__pycache__/answers.cpython-38.pyc
__pycache__/dataloaders.cpython-38.pyc
__pycache__/datasets.cpython-38.pyc
__pycache__/knn_classifier.cpython-38.pyc
__pycache__/linear_classifier.cpython-38.pyc
__pycache__/linear_regression.cpython-38.pyc
__pycache__/losses.cpython-38.pyc
__pycache__/transforms.cpython-38.pyc
